html{
    overflow: hidden;
}

.square
{
    background-color: #F0E3DA;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #F5F5F5;

            
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-heading, .panel-footer{
    background-color: #F2AB7C !important;
}

button{
    background-color: #F2AB7C !important;
    margin-bottom: 10px !important;
}

#word-found-list{
  max-height:300px;
  overflow-y:scroll;
  width:100%;
}